<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<title>Player Details</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h2>Player Details:</h2>
	<table class=table>
		<thead class="thead-light">
			<tr>
				<th>#</th>
				<th>Player Name</th>
				<th>Team Name</th>
				<th>Position</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="player : ${players}">
				<td data-th-text="${player.playerId}"></td>
				<td data-th-text="${player.playerName}"></td>
				<td data-th-text="${player.teamName}"></td>
				<td data-th-text="${player.position}"></td>
<!-- 				<td><a th:href="@{'deleteTournamentEntry?name='+${tournament.id.tournamentName}}">Delete</a></td> -->
<!-- 				<td><a th:href="@{'showUpdateTournament?name='+${tournament.id.tournamentName}}">Edit</a></td> -->
			</tr>
		</tbody>
	</table>

</body>
</html>


